<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499540747511-dobnkivlcae4ed6d39otjfmm0umokdij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499540747511-dobnkivlcae4ed6d39otjfmm0umokdij</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCBiFAFzHGfJ0W-qDirbhDqN41_qFZfA</string>
	<key>GCM_SENDER_ID</key>
	<string>499540747511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloud_firestoreApp</string>
	<key>PROJECT_ID</key>
	<string>cloud_firestore-app-c21b7</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud_firestore-app-c21b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499540747511:ios:aecce554c3bb343ee29ff2</string>
</dict>
</plist>